<style>
  footer.container-fluid {
	padding-left: 45px !important;
	width: 1340px;
 	text-align: center;
	}
	.sidebar{ display:none;
	}
</style>


	<div class="logo">Geek Therapy</div>
  <div class='content'><h1>We make our world significant by the courage of our questions</br> and by the depth of our answers. (Carl Sagan)</h1></div>
<br>
<div class='quote'><p>A place to open your mind, explore your curiosities and move a little step further.</p></div>
  <div class='content'>
    <%= link_to "Explore", articles_path, class: 'btn btn-primary btn-large' %>
  </div>


